<div class="container login-container">
    <div class="login-form">
        <div class="logo-container">
            <h1 class="logo-text">Reset Password</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="username">New Password</label>
                <input type="password" class="form-control"  [(ngModel)]="resetPassword.password"  name="resetPassword.password" >
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-login btn-block w-75 " (click)="handleResetPassword()">Reset PassWord</button>
            </div>
        </form>
    </div>
</div>