<div class="container-fluid">
    <div class="row">
        <!-- phan 1 -->
        <div class="col-md-8 bg-d9d293 fh d-flex flex-column justify-content-start text-black ">
            <div class=" display-3 mb-auto">LOGO</div>  
            <div class="mb-auto">
                <p class="fs-1">Hello</p>
                <p class="fs-1">My Name is Van</p>
            </div>
            <div class="mt-auto"></div>
        </div>
        <!-- phan 2 -->
        <div class="col-md-4  fh d-flex flex-column justify-content-start text-black">
            <div class="mb-auto"></div>
            <div class="  text-center ">
                <p class="fs-1">Get Started</p>
                <div class="row">
                    <div class="col mx-2">
                        <button class="btn btn-primary w-100 h " routerLink="/login">Login</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary w-100 h" routerLink="/register">Register</button>
                    </div>
                </div>
            </div>
            <div class="mb-3 display-3 mt-auto text-center">LOGO</div>
        </div>
    </div>
  </div>